//_master.scss

//Google Fonts
@import url('https://fonts.googleapis.com/css?family=Patua+One');
@import url('https://fonts.googleapis.com/css?family=Oswald');

//Color Variables
$background_color: #5F6A72;
$scarlet: #CC0033;
$ghostwhite: #F8F8FF;
$lightpink: #FFB6C1;
$dimgray: #696969;
