//nav.scss
//import
@import "master";

//Font Variables
$title_font: 'Righteous', cursive;
$md_font: 'Roboto Condensed', sans-serif;
:root 
{
	background-color: $background_color;
	padding: 1em;
	margin: auto;
}
.pagetitle 
{
	display: block;
	position: relative;
	margin: auto;
	text-align: center;
	>h1 {
		color: $ghostwhite;
		font-size: 100px;
		font-family: $title_font;
		text-shadow:0 1px 0 #ccc,
					0 2px 0 #c9c9c9,
					0 3px 0 #bbb,
					0 4px 0 #b9b9b9,
					0 5px 0 #aaa,
					0 6px 1px rgba(0,0,0,.1),
					0 0 5px rgba(0,0,0,.1),
					0 1px 3px rgba(0,0,0,.3),
					0 3px 5px rgba(0,0,0,.2),
					0 5px 10px rgba(0,0,0,.25),
					0 10px 10px rgba(0,0,0,.2),
					0 20px 20px rgba(0,0,0,.15);
	   }

}

.description 
{
	display: block;
	position: relative;
	width: 80vw;
	margin: auto;
	background-color: $ghostwhite;
	border-radius: 20px;
	box-shadow: #000 5px 10px 20px -3px;
	
	font-family: $md_font;

	color: black;
	
	>h2 
	{
		display: block;
		position:relative;
		text-align: center;
		padding-top: 35px;
		font-size: 5em;
		font-weight: bold;
		line-height: 1em;
		background-color: $background_dark;

  		color: transparent;
  		text-shadow: 0px 10px 10px rgba(255,255,255,0.2);
  		-webkit-background-clip: text;
     	-moz-background-clip: text;
        background-clip: text;
	}

	.body
	{
		
		position: relative;
		margin: auto;
		padding-right: 45px;
		padding-left: 45px;
		padding-bottom: 30px;
		font-size: 1.5em;

	}


			


}

.setupForm 
{
	
	display: block;
	position: relative;
	width: 80vw;
	margin: auto;
	background-color: $ghostwhite;
	border-radius: 20px;
	box-shadow: #000 5px 10px 20px -3px;
	
	font-family: $md_font;
	text-align: center;

	
	>h2 
	{
		display: block;
		position:relative;
		text-align: center;
		padding-top: 35px;
		font-size: 5em;
		font-weight: bold;
		line-height: 1em;
		background-color: $background_dark;

  		color: transparent;
  		text-shadow: 0px 10px 10px rgba(255,255,255,0.2);
  		-webkit-background-clip: text;
     	-moz-background-clip: text;
        background-clip: text;
	}

	input 
	{
		width: 440px; 
		height: 50px; 
		padding: 5px 20px 0px 20px; 
		margin: 0 0 20px 0;
		border-radius: 15px; 
		-moz-border-radius: 15px; 
		-webkit-border-radius: 15px; 

	
		background: $background_color;
		box-shadow: #000 5px 10px 10px -7px inset;
		
		font-family: $md_font;
		font-size: 30px; 
		color: $background_light; 
		text-transform: capitalize; 
		text-shadow: 0px -1px 0px black;
	}
	input::-webkit-input-placeholder  
	{
    	color: $background_light; 
		text-shadow: 0px -1px 0px black;
	}
	input:-moz-placeholder 
	{
	    color: $background_light; 
		text-shadow: 0px -1px 0px black;
	}

	input:focus 
	{
		color: $ghostwhite;
		outline: none;
		background: $background_dark;
	}


}

ul.header
{
	font-family: $title_font;
	letter-spacing: 2px;
	li
	{
		display: inline;
		list-style-type: none;
		margin: 0;
		a
		{
			color: $ghostwhite;
			font-weight: bold;
			padding: 20px;
			display: inline-block;

		}
		.selected
		{
			background-color: $lightpink;
		}

	}
	background-color: $scarlet;
	padding: 0;

}

